<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="width: 400px; display: table-cell;"> 
    <h4>Messages</h4>
    
    <% for(var i=0;i<=20;i++) {  %>    
<p><%=messages[i]%></p>
<% }  %>   
</div>
<div style="display: table-cell;"> 
    <h4>Timestamp</h4>
    <% for(var i=0;i<=20;i++) {  %>    
        <p><%=timestamp[i]%></p>
        <% }  %>   
</div>
</div>
</div>

   

        <h4>ADD</h4>
        <p>Message:</p>
        <input type="text" name="message" id="message"><br><br>

        <button onclick="addcrm()">ADD</button>

        <script>
            function addcrm(){
                let a=document.getElementById('message').value;
               
                window.location.href=`/addcrm/${a}/<%=userid%>`;
               
            }
        </script>
</body>
</html>